@media (max-width: 769px) {
  .tabela-content {
    padding: 20px !important;
    width: auto;
    height: auto;
  }
  p {
    text-align: center;
    margin: 10px auto;
  }
  section {
    text-align: center;

    display: block !important;
  }
}
